<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6598a9">  <td>14/07/17 14:51:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_02.TC_02()[pri:0, instance:Test.TC_02@142ef25]">TC_02</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6598a9">  <td>14/07/17 14:51:57</td>   <td>9240</td> <td>&nbsp;</td><td title="&lt;&lt;TC_02.after()[pri:0, instance:Test.TC_02@142ef25]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17510567</td>   <td></td> </tr>
</table>
